<div class="wrap">
  <div class="body-left">
    <div class="img">

    </div>
    <a class="upload-img" >
      Upload
    </a>
  </div>
  <div class="body-right">
    <p class="title">
      Company name:
    </p>
    <input placeholder="Epam" type="text" class="input">
    <p class="title">
      Employees number:
    </p>
    <input placeholder="400-500" type="text" class="input">
    <p class="title">
      Email:
    </p>
    <input placeholder="misha.maznichko@urk.net" type="text" class="input">
    <div>
      <p class="description">
        About company:
      </p>
      <textarea placeholder="Type something..." class="text"></textarea>
    </div>
    <a class="change-btn" >
      Change
    </a>
  </div>
</div>
