.section {
  padding-bottom: 214px;
  color: white;
  padding-top: 250px;
}

.form {
  margin: auto;
  height: 315px;
  background: #f5f5f5;
  width: 25%;
  padding-top: 55px;
  border-radius: 17px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
}


.form__column {
  display: block;
  margin: auto;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0 3px 3px rgba(0,0,0,.1);
}

input {
  border: none;
  outline: none;
}

.form__column:focus {
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
}

a {
  text-decoration: none;
  color: white;
}

.form__column:first-child {
  margin-bottom: 30px;
}

.form__btn-wrap {
  display: flex;
  margin: 30px auto auto;
  width: 90%;
}

.form__btn-send {
  margin: 30px auto auto;
  display: block;
  text-align: center;
  width: 90%;
  background-color: #de657c;
  height: 50px;
  padding: 12px;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.form__btn-send:hover {
  filter: drop-shadow(0px 1px 1px rgb(0, 0, 0,0.3));
}

@media (max-width: 1199px) {
  .form {
    width: 30%;
  }

}

@media (max-width: 991px) {
  .form {
    width: 40%;
  }

}

@media (max-width: 767px) {
  .form {
    width: 50%;
  }
}

@media (max-width: 575px) {
  .form {
    width: 80%;
  }
}


