<div class="body">
  <div class="wrap-search">
    <input class="search" placeholder="Search" type="text" name="" id="">
    <a class="search_btn">
      <span class="material-symbols-outlined">
        search
      </span>
    </a>
  </div>
  <p class="filter__item">
    Publication date
  </p>
  <label for="a-option" class="l-radio">
    <input [defaultChecked]="true" type="radio" id="a-option" name="date" tabindex="1">
    <span>All time</span>
  </label>
  <label for="b-option" class="l-radio">
    <input type="radio" id="b-option" name="date" tabindex="2">
    <span>Today</span>
  </label>
  <label for="c-option" class="l-radio">
    <input type="radio" id="c-option" name="date" tabindex="3">
    <span>Last week</span>
  </label>
  <label for="d-option" class="l-radio">
    <input type="radio" id="d-option" name="date" tabindex="3">
    <span>Last month</span>
  </label>
  <p class="filter__item">
    Salary
  </p>
  <label for="e-option" class="l-radio">
    <input [defaultChecked]="true" type="radio" id="e-option" name="salary" tabindex="1">
    <span>Any</span>
  </label>
  <label for="f-option" class="l-radio">
    <input type="radio" id="f-option" name="salary" tabindex="2">
    <span>from 200$</span>
  </label>
  <label for="g-option" class="l-radio">
    <input type="radio" id="g-option" name="salary" tabindex="3">
    <span>From 700$</span>
  </label>
  <label for="h-option" class="l-radio">
    <input type="radio" id="h-option" name="salary" tabindex="3">
    <span>From 2000$</span>
  </label>
  <p class="filter__item">
    Work experience
  </p>
  <label for="j-option" class="l-radio">
    <input [defaultChecked]="true" type="radio" id="j-option" name="experience" tabindex="1">
    <span>Any</span>
  </label>
  <label for="k-option" class="l-radio">
    <input type="radio" id="k-option" name="experience" tabindex="2">
    <span>Without</span>
  </label>
  <label for="l-option" class="l-radio">
    <input type="radio" id="l-option" name="experience" tabindex="3">
    <span>Over 1 year</span>
  </label>
  <label for="m-option" class="l-radio">
    <input type="radio" id="m-option" name="experience" tabindex="3">
    <span>Over 2 year</span>
  </label>
</div>
