.wrap {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  box-shadow: 0 6px 12px rgba(0,0,0,.1);
  border-radius: 11px;
  transition: all 0.5s ease;
}

.wrap:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,.15);
}

.company__wrap {
  display: flex;
  align-items: center;
}

p {
  margin: 0;
}

.company__name {
  font-size: 18px;
  color: #393f47;
  opacity: 0.7;
  transition: all 0.5s ease;
}

.company__name:hover {
  opacity: 1;
}

.company__img {
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid gray;
  width: 50px;
  height: 50px;
  background: url('src/assets/logo.png') top center/cover;
}

.material-symbols-outlined {
  font-size: 25px;
  color: rgba(81, 61, 217, 0.9);
  opacity: 0.7;
  transition: all 0.5s ease;
  color: #393f47;
}

.material-symbols-outlined:hover {
  opacity: 1;
}

.company__name {
  margin-left: 5px;
}

.vacancy__link {
  text-decoration: none;
  color: #393f47;
  opacity: 0.7;
  transition: all 0.5s ease;
}

.vacancy__link:hover {
  opacity: 1;
}


