 <div class="wrap">
   <div class="body-left">
     <div class="img">

     </div>
     <a class="btn-item" >
       Upload
     </a>
     <a (click)="createCV()" class="btn-item" >
       Create CV
     </a>
   </div>
   <div class="body-right">
     <p class="title">
       Name:
     </p>
     <input placeholder="Misha" type="text" class="input">
     <p class="title">
       Surname:
     </p>
     <input placeholder="Maznichko" type="text" class="input">
     <p class="title">
       Email:
     </p>
     <input placeholder="misha.maznichko@urk.net" type="text" class="input">
     <p class="title">
       GitHub:
     </p>
     <input placeholder="" type="text" class="input">
     <p class="title">
       Linkedin:
     </p>
     <input placeholder="" type="text" class="input">
     <div>
       <p class="description">
         About me:
       </p>
       <textarea placeholder="Type something..." class="text"></textarea>
     </div>
     <a class="change-btn" >
       Change
     </a>
   </div>
 </div>
