 <div class="wrap">
   <div class="body-left">
     <div class="img">

     </div>
     <a class="btn-item" >
       Upload
     </a>
     <a (click)="createCV()" class="btn-item" >
       Create CV
     </a>
   </div>
   <div class="body-right">
     <form [formGroup]="form" (ngSubmit)="sendProfile()">
       <p class="title">
         Name:
       </p>
       <input  type="text" class="input" formControlName="name">
       <p class="title">
         Surname:
       </p>
       <input  type="text" class="input" formControlName="surname">
       <p class="title">
         Email:
       </p>
       <input  type="text" class="input" formControlName="email">
       <p class="title">
         GitHub:
       </p>
       <input  type="text" class="input" formControlName="git">
       <p class="title">
         Linkedin:
       </p>
       <input  type="text" class="input" formControlName="linkedin">
       <div>
         <p class="description">
           About me:
         </p>
         <textarea formControlName="aboutMe"  class="text"></textarea>
       </div>
       <input type="submit"  class="change-btn"  value="Change">
     </form>
   </div>
 </div>
