section {
  padding-bottom: 154px;
  color: white;
  padding-top: 155px;
}

.section-second {
  background-color: #de7878;
  padding-bottom: 154px;
  color: white;
  padding-top: 155px;
}

.form {
  margin: auto;
  background: #f5f5f5;
  width: 25%;
  padding-top: 55px;
  padding-bottom: 55px;
  border-radius: 17px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
}

.form__column {
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0 3px 3px rgba(0,0,0,.1);
  display: block;
  margin: auto;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
}

input {
  border: none;
  outline: none;
}

.form__column:focus {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
}

a {
  text-decoration: none;
  color: white;
}

.form__column:nth-child(n + 1) {
  margin-bottom: 30px;
}

.form__btn-left {
  color: #8c8c8c;
  display: block;
  width: 50%;
  height: 35px;
  border: 1px solid #de657c;
  text-align: center;
  padding: 4px;
  border-radius: 10px 0 0 10px;
}

.form__btn-left-not {
  display: block;
  width: 50%;
  height: 35px;
  background-color: rgba(57, 76, 158, 0.8);
  text-align: center;
  padding: 4px;
  border-radius: 10px 0 0 10px;
}

.form__btn-right {
  width: 50%;
  height: 35px;
  background-color: #de657c;
  text-align: center;
  padding: 4px;
  border-radius: 0 10px 10px 0;
}

.form__btn-right-not {
  width: 50%;
  height: 35px;
  color: #8c8c8c;
  border: 1px solid rgba(57, 76, 158, 0.8);
  text-align: center;
  padding: 4px;
  border-radius: 0 10px 10px 0;
}

.form__btn-wrap {
  display: flex;
  margin: 30px auto auto;
  width: 90%;
}

.form__btn-send {
  margin: 30px auto auto;
  display: block;
  text-align: center;
  width: 90%;
  background-color: #de657c;
  height: 50px;
  padding: 12px;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.form__btn-send-second {
  margin: 30px auto auto;
  display: block;
  text-align: center;
  width: 90%;
  background-color: rgba(57, 76, 158, 0.8);
  height: 50px;
  padding: 12px;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.form__btn-send:hover {
  box-shadow: red;
}

@media (max-width: 1199px) {
  .form {
    width: 30%;
  }

}

@media (max-width: 991px) {
  .form {
    width: 40%;
  }


}

@media (max-width: 767px) {
  .form {
    width: 50%;
  }
}

@media (max-width: 575px) {
  .form {
    width: 80%;
  }
}


